// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * (C) Copyright 2026 - Analog Devices, Inc.
 */

/dts-v1/;

#include "sc598-som.dtsi"

/ {
	model = "ADI SC598-HTOL";
	compatible = "adi,sc598-htol", "adi,sc59x-64";

	scb {
		uart1: serial@0x31003400 {
			compatible = "adi,uart4";
			reg = <0x31003400 0x1000>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart1_default>;
			clocks = <&clk ADSP_SC598_CLK_CGU0_SCLK0>;
			clock-names = "sclk0";
			linux,rs485-enabled-at-boot-time;
			rs485-rts-active-low;
			rts-gpios = <&gpio0 ADI_ADSP_PIN('D', 1) GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
	};
};

&pinctrl0 {
	uart1_default: uart1_pins {
		pins {
			pinmux = <ADI_ADSP_PINMUX('D', 4, ADI_ADSP_PINFUNC_ALT0)>,
				 <ADI_ADSP_PINMUX('D', 5, ADI_ADSP_PINFUNC_ALT0)>;
		};
	};
};

&gpio0 {
	uart0-en {
		gpio-hog;
		gpios = <ADI_ADSP_PIN('B', 13) GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "uart0-en";
		bootph-pre-ram;
	};

	uart0-flow-en {
		gpio-hog;
		gpios = <ADI_ADSP_PIN('B', 14) GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "uart0-flow-en";
	};

	led1 {
		gpio-hog;
		gpios = <ADI_ADSP_PIN('E', 15) GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "led1";
	};

	led2 {
		gpio-hog;
		gpios = <ADI_ADSP_PIN('E', 10) GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "led2";
	};
};

&eth0 {
	compatible = "adi,sc59x-dwmac-eqos";
	reg = <0x31040000 0x10000>;
	phy-handle = <&adin1300>;
	phy-mode = "rgmii-id";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		adin1300: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};
	};
};

&spi2 {
	som_flash: is25lp01g@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "issi,is25lp01g", "jedec,spi-nor";
		reg = <1>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <10000000>;
	};
};
